@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');


.nav {
  font-family: 'Poppins';
  background-color: red; //transparent
  position: fixed;
  height: 100px; //changer la taille à 70px puis aligner au milieu
  left: 0;
  top: 0;
  width: 100%;
  transition: top 0.8s;
  z-index: 2;

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
    height: 100px;

    &logo {
      list-style: none;
      margin-right: auto;
      cursor: pointer;

      img {
        width: 100px;
        transition: fill 250ms ease-in;
      }
    }

    &item {
      list-style: none;
      position: relative;
      padding: 1.5rem 1rem;
      cursor: pointer;

      a{
        text-decoration: none;
        color: white;
        font-weight: 300;
      }

      &::after {
        content: "";
        width: 0;
        height: 0.3rem;
        position: absolute;
        bottom: 0.8rem;
        transition: width 200ms ease-in;
        background-color: black;
      }

      &:hover::after,
      &:focus::after {
        width: 40%;
      }

      &:hover ul,
      &:focus ul {
        opacity: 1;
        visibility: visible;
      }

    }
  }
}
